<a href="https://colab.research.google.com/github/PosgradoMNA/Actividades_Aprendizaje-A01794023-Andres_Palacios/blob/main/Data_Analysis_with_Python_(IBM)_Module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Analysis with Python (IBM): Module2**

**Asignatura: Ciencia y Analitica de datos**

**Nombre: Jaime Andres Palacios Campa√±a**

**Matricula: A01794023**

# **Pre-Processing Data in Python**

In [1]:
import pandas as pd #Importamos la libreria de Pandas

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'
df = pd.read_csv(url, header=None)  #Creamos el dataframe con el csv de url, no tiene columnas titulos.

# creamos una lista con los headers manualmente para luego agregarlos al df
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

df.columns=headers #agregamos a la lista 'headers' como headers.
df.head() #Validamos llamando los primeros 5 registros

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

## Dealing with missing values in Python

In [2]:
df.dropna(axis=0, inplace=True) #elimina los registros nulos,"axis=0": elimina filas, "inplace=True": escribe el resultado directamente en el df

#o podemos usar "df.replace(missing_values, new_value)" para remplazar datos por otros

In [3]:
df.isna().sum() #me cuenta cuantos nulos hay por columna

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

## Data Formatting in Python

En referencia a nuestro conjunto de datos de autos usados, hay una variable llamada "city-mpg", que se refiere al consumo de combustible de un autom√≥vil en millas por unidad de gal√≥n. Sin embargo, puede ser alguien que vive en un pa√≠s que utiliza unidades m√©tricas.
Por lo tanto, querr√° convertir esos valores a la version metrica de L/100 km. Para transformar mpg a L/100km necesitamos dividir 235 por cada valor en la columna city-mpg.

In [4]:
df['city-mpg'].head

<bound method NDFrame.head of 0      21
1      21
2      19
3      24
4      18
       ..
200    23
201    19
202    18
203    26
204    19
Name: city-mpg, Length: 205, dtype: int64>

In [5]:
df["city-mpg"]= 235/df["city-mpg"] #Esta linea nos permite dividir 235 entre cada registro de la columna para convertir
                                   #el valor de M/Gal a L/Km

df.rename(columns={"city-mpg":"city-L/100km"}, inplace=True) #Modifica el nombre de la columna
df["city-L/100km"].head

<bound method NDFrame.head of 0      11.190476
1      11.190476
2      12.368421
3       9.791667
4      13.055556
         ...
200    10.217391
201    12.368421
202    13.055556
203     9.038462
204    12.368421
Name: city-L/100km, Length: 205, dtype: float64>

In [12]:
df.dtypes #Me permite observar el tipo de variable, para c/u de ellas.

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-L/100km         float64
highway-mpg            int64
price                 object
dtype: object

In [ ]:
df["price"]= df["price"].astype('int') #Convierto la columna "price" de 'object' a 'int'

## Data Normalization in Python

**1.Simple feature scaling:** Divide cada valor por el valor m√°ximo para esa funci√≥n. Esto hace que los nuevos valores oscilen entre 0 y 1.

**2.Min-Max**: Toma cada valor, X_old, restado del m√≠nimo valor de esa caracter√≠stica, luego se divide por el rango de esa caracter√≠stica.
Nuevamente, los nuevos valores resultantes oscilan entre 0 y 1.

**3.z-score or standard score** En esta f√≥rmula, para cada valor, resta el Mu, que es el promedio de la caracter√≠stica, y luego lo divide por la desviaci√≥n est√°ndar (sigma). Los valores resultantes oscilan alrededor de 0 y, por lo general, oscilan entre -3 y +3, pero pueden ser mayores o menores.

E.g.

In [57]:
df["length"].head

<bound method NDFrame.head of 0      168.8
1      168.8
2      171.2
3      176.6
4      176.6
       ...
200    188.8
201    188.8
202    188.8
203    188.8
204    188.8
Name: length, Length: 205, dtype: float64>

In [60]:
df["length"] = df["length"]/df["length"].max() #usamos el primer metodo con la columna 'length'

df["length"].head

<bound method NDFrame.head of 0      0.811148
1      0.811148
2      0.822681
3      0.848630
4      0.848630
         ...
200    0.907256
201    0.907256
202    0.907256
203    0.907256
204    0.907256
Name: length, Length: 205, dtype: float64>

## Binning in Python

In [ ]:
import numpy as np

bins = np.linspace(min(df["price"]), max(df["price"]), num=4) #Primero usamos la funci√≥n numpy "linspace" para devolver la matriz "bins" que contiene
                                                            #4 n√∫meros igualmente espaciados sobre el intervalo especificado del precio.
group_names = {"Low","Medium","High"} #Creamos una lista ‚Äúgroup_names‚Äù que contiene los diferentes nombres de bin.

#Usamos la funci√≥n de pandas "cut" para segmentar y clasificar los valores de datos en contenedores.
df["price-binned"] = pd.cut(df["price"], bins, labels=group_names, include_lowlest=True)

##Turning categorical variables into quantitative variables in Python

In [ ]:
pd.get_dummies(df['fuel']) #El m√©todo get_dummies() genera autom√°ticamente una lista de n√∫meros, 
                           #cada uno correspondiente a una categor√≠a particular de la variable.

# **LABS**

In [6]:
filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-L/100km,highway-mpg,price
195,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,10.217391,28,13415
196,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,9.791667,28,15985
197,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,9.791667,28,16515
198,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,13.823529,22,18420
199,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,13.823529,22,18950
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,10.217391,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,12.368421,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,13.055556,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,9.038462,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,12.368421,25,22625

In [78]:
import numpy as np

#Identify missing values
df.replace("?", np.nan, inplace = True) # replace "?" to NaN

#Evaluating for Missing Data
missing_data = df.isnull()

#Calculate the mean value for the "normalized-losses" column 
avg_norm_loss = df["normalized-losses"].astype("float").mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)

df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

avg_bore=df['bore'].astype('float').mean(axis=0)
print("Average of bore:", avg_bore)

df["bore"].replace(np.nan, avg_bore, inplace=True)

Average of normalized-losses: 122.0
Average of bore: 3.3297512437810943

In [81]:
avg_peakrpm=df['peak-rpm'].astype('float').mean(axis=0)
print("Average peak rpm:", avg_peakrpm)

df["peak-rpm"].replace(np.nan, avg_peakrpm, inplace=True)

df['num-of-doors'].value_counts()
df['num-of-doors'].value_counts().idxmax()

#replace the missing 'num-of-doors' values by the most frequent 
df["num-of-doors"].replace(np.nan, "four", inplace=True)

# simply drop whole row with NaN in "price" column
df.dropna(subset=["price"], axis=0, inplace=True)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

df.head()

Average peak rpm: 5125.369458128079

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-L/100km,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,11.190476,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,11.190476,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,12.368421,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,9.791667,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,13.055556,22,17450

In [82]:
#Convert data types to proper format
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")
df[["price"]] = df[["price"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")

In [83]:
df.dtypes

symboling              int64
normalized-losses      int64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower            object
peak-rpm             float64
city-L/100km         float64
highway-mpg            int64
price                float64
dtype: object

Question #2: 
According to the example above, transform mpg to L/100km in the column of "highway-mpg" and change the name of column to "highway-L/100km".

In [84]:
# transform mpg to L/100km by mathematical operation (235 divided by mpg)
df["highway-mpg"] = 235/df["highway-mpg"]

# rename column name from "highway-mpg" to "highway-L/100km"
df.rename(columns={'highway-mpg':'highway-L/100km'}, inplace=True)

# check your transformed data 
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-L/100km,highway-L/100km,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000.0,11.190476,8.703704,13495.0
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000.0,11.190476,8.703704,16500.0
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000.0,12.368421,9.038462,16500.0
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500.0,9.791667,7.833333,13950.0
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500.0,13.055556,10.681818,17450.0

Question #3: 
According to the example above, normalize the column "height".

In [85]:
df['height'] = df['height']/df['height'].max() 

# show the scaled columns
df[["length","width","height"]].head()

     length  width    height
0  0.811148   64.1  0.816054
1  0.811148   64.1  0.816054
2  0.822681   65.5  0.876254
3  0.848630   66.2  0.908027
4  0.848630   66.4  0.908027

Question #4: 
Create an indicator variable for the column "aspiration"

In [86]:
# get indicator variables of aspiration and assign it to data frame "dummy_variable_2"
dummy_variable_2 = pd.get_dummies(df['aspiration'])

# change column names for clarity
dummy_variable_2.rename(columns={'std':'aspiration-std', 'turbo': 'aspiration-turbo'}, inplace=True)

# show first 5 instances of data frame "dummy_variable_1"
dummy_variable_2.head()

   aspiration-std  aspiration-turbo
0               1                 0
1               1                 0
2               1                 0
3               1                 0
4               1                 0

Question #5: 
Merge the new dataframe to the original dataframe, then drop the column 'aspiration'.

In [87]:
# merge the new dataframe to the original datafram
df = pd.concat([df, dummy_variable_2], axis=1)

# drop original column "aspiration" from "df"
df.drop('aspiration', axis = 1, inplace=True)